<section>
    {{errorMessage}}
    <header *ngIf="!currentWishDay">
        <button (click)="createNewDay()">Create new day</button>
    </header>
    <header *ngIf="currentWishDay">
        <h1 >{{currentWishDay.date}}</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus
               [(ngModel)]="newItem.text" (keyup.enter)="addItem()">
        <button class="add" (click)="addItem()">Add</button>
    </header>
    <section class="main" *ngIf="currentWishDay">
        <ul class="todo-list">
            <wish-item 
                       *ngFor="#item of currentWishDay.wishList" 
                       [item]="item"
                       (onWishItemRemove)="removeItem($event)">
            </wish-item>
            <!--<todo-item *ngFor="#item of WishItems"
                       [item]="item"
                       (done)="removeItem($event)"
                       (itemUpdated)="itemUpdated($event)">
            </todo-item>-->
        </ul>
    </section>
</section>